body {
  height: 95vh;
  width: 95;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #f3f3f3;

  font-family: "Roboto Condensed", sans-serif;
}

.title {
  color: #997300;
  font-family: "Stick", sans-serif;
}

Button {
  background-color: #ffdf80;
  border: none;
  padding: 15px;
  font-family: "Stick", sans-serif;
}

.Start:hover {
  background-color: #be9a2c;
  border: none;
  padding: 15px;
  color: white;
}

canvas {
  background-color: #ffdf80;
}
